table {
  border-collapse: collapse;
  border: 1px solid grey;
  max-width: 540px;
}
td,
th {
  padding: 10px;
  border: 1px solid grey;
  text-align: center;
}
.back {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
@media only screen and (max-width:600px){
  table{
    max-width: unset;
    width:320px;
  }
}
