.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
*{
  box-sizing: border-box;
}
.super{
  width: 600px;
  margin: auto;
  border-radius: 18px;
  box-shadow: 1px 2px 8px -3px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  position: relative;
}